img {
  display: block;
  margin: 0 auto;
  width: 25%;
}

input {
  margin-top: 10px;
  margin-left: 35%;
  padding: 3px;
}

.error-output {
  font-size: 12px;
  font-style: italic;
  color: red;
  margin-left: 10px;
}

html {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

html {
  background-color: #00539F;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: coral;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  font-size: 60px;
  text-align: center;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539F;
  text-shadow: 3px 3px 1px black;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}